<p>
  <b>by:</b>
  <%= reply.by %>
</p>

<p>
  <b>Response:</b>
  <%= reply.response %>
</p>
<p>
  <%= link_to 'Delete Reply', [reply.post, reply],
              :confirm => 'Are you sure?',
              :method => :delete %>
</p>