
<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Welcome to Hurlers vs Monsters, <%= @user.email %></h1>
<p>Hi <%= @user.fname %></p>
<p>
  You have successfully registered with Hurlers vs Monsters,
  your username is: <%= @user.username %>. Play the game post to our forum on a range of topics,
  Sport, Tech, Sci-Fi and more.
</p>
<p>
  To get started now, follow this link: <%= @url %>.
</p>
<p>Thanks for joining and hope you have a blast!</p>
</body>
</html>