<% content_for :head do %>
    <title>Hurlers vs Monsters: Home</title>
    <%= stylesheet_link_tag "home", :media => "all" %>
<% end %>
<% content_for :article do %>
    <article id="upper_stage" onload="init();">

    </article>
<% end %>
<%= content_for :script do %>
    <%= javascript_include_tag "Sprite3D" %>
    <%= javascript_include_tag "intro" %>
<% end %>
