//******Start of background code******
(function(){
    // display 3D content
    // Create the stage
    var stage = Sprite3D.stage();
    var container = Sprite3D.create("#container");
    stage.appendChild( container );
    //defines divs to be used by loadhandler
    var monster1 =  Sprite3D.create("#monster1").position(-60,50,90).rotation(0,0,0).update();
    var monster2 = Sprite3D.create("#monster2").position(130,40,70).rotation(0,0,0).update();
    var monster3 = Sprite3D.create("#monster3").position(80,60,80).rotation(0,0,0).update();
    var monster4 = Sprite3D.create("#monster4").position(190,80,150).rotation(0,0,0).update();
    var slimeball1 = Sprite3D.create("#slimeball1").position(-140,10,190).rotation(0,0,0).update();
    var slimeball2 = Sprite3D.create("#slimeball2").position(-10,0,250).rotation(0,0,0).update();
    //defines the stadium backdrop
    var pitch = Sprite3D.create("#pitch").position(-260,-70,20).rotation(75,0,0).update();
    var hill = Sprite3D.create("#hill1").position(-258,-180,-150).rotation(0,0,0).update();
    var backdrop = Sprite3D.create("#backdrop").position(-55,-50,-50).rotation(20,0,0).update();
    var sidedrop_right = Sprite3D.create("#sidedrop_right").position(120,-45,-50).rotation(20,10,0).update();
    var sidedrop_left = Sprite3D.create("#sidedrop_left").position(-241,-45,-50).rotation(20,-10,0).update();
    var roof = Sprite3D.create("#roof").position(-220,-80,50).rotation(50,0,0).update();
    var ambulance = Sprite3D.create("#ambulance").position(-238,10,10).rotation(0,0,0).update();
    var scoreboard = Sprite3D.create("#scoreboard").position(-280,125,115).rotation(0,0,0).update();
    //adds above to the container for display
    container.appendChild(pitch);
    container.appendChild(hill);
    container.appendChild(backdrop);
    container.appendChild(sidedrop_right);
    container.appendChild(sidedrop_left);
    container.appendChild(roof);
    container.appendChild(ambulance);
    container.appendChild(monster1);
    container.appendChild(monster2);
    container.appendChild(monster3);
    container.appendChild(monster4);
    container.appendChild(slimeball1);
    container.appendChild(slimeball2);
    container.appendChild(scoreboard);
    var timer = Sprite3D.create("#timer").position(0,0,0).rotation(0,0,0).update();
    var score = Sprite3D.create("#score").position(50,0,0).rotation(0,0,0).update();
    var gamerMsg = Sprite3D.create("#gamerMsg").position(100,0,0).rotation(0,0,0).update();
    scoreboard.appendChild(timer);
    scoreboard.appendChild(score);
    scoreboard.appendChild(gamerMsg);

}());

var ambulanceInterval = setInterval(function() {
    ambulance.css("Transition", "all 90s", true).position(200,10,10).update();
},7000);

//******End of background code*******

//******Define this levels monster object and its behaviour******

var greenbug =
{
    //image source, position and pixel details
    IMAGE: "spritesheet1.png", SPRITE_WIDTH: 32, SPRITE_HEIGHT: 32, COLUMN_NO: 3,
    ORIGIN_X: 0, ORIGIN_Y: 0,
    //frame setting and details
    totalFrameNo: 4, currentFrameNo: 0,
    playForward: true,
    playBack: false,
    //game state defined and set
    NOTLANDED: 0, LANDED: 1, HIT: 2, state: this.NOTLANDED,
    resetCount: 12, resetCounter: 0,
    landingTime: undefined,

    findLandingTime: function()
    {
        this.landingTime = Math.floor(Math.random() * 70);
    },

    runAnimation: function()
    {
        //divides the spritesheet image up to select the appropriate frame per state
        this.ORIGIN_X = Math.floor(this.currentFrameNo % this.COLUMN_NO) * this.SPRITE_WIDTH;
        this.ORIGIN_Y = Math.floor(this.currentFrameNo / this.COLUMN_NO) * this.SPRITE_HEIGHT;
        //below if statements used to discover the monsters current state
        if(this.state !== this.HIT)
        {
            if(this.landingTime === undefined || this.landingTime > 0)
            {
                this.state = this.NOTLANDED;
            }
            else
            {
                this.state = this.LANDED;
            }
        }
        //the below changes the animation as per current state
        switch(this.state)
        {
            //defines notlanded state
            case this.NOTLANDED:
                this.currentFrameNo = 0;
                this.landingTime--;
                break;
            //controls animation for landed state
            case this.LANDED:
                //if last frame is reached the playforward variable is set
                //to false so the animation can start again
                if(this.currentFrameNo === this.totalFrameNo)
                {
                    this.playForward = false;
                }
                //if the first frame is playforward is true and the animation can start again
                if(this.playForward === false && this.currentFrameNo === 0)
                {
                    this.playForward = true;
                    this.findLandingTime();
                    this.state = this.NOTLANDED;
                    break;
                }
                //instruction to change up a frame if playforward is true
                //change down when false
                if(this.playForward)
                {
                    this.currentFrameNo++;
                }
                else
                {
                    this.currentFrameNo--;
                }
                break;
            //defines hit
            case this.HIT:
                //assigns frame to hit state
                this.currentFrameNo = 5;
                //update the reset counter by one
                this.resetCounter++;
                //reset the animation when restcounter is the same value as resetcount
                if(this.resetCount === this.resetCounter)
                {
                    this.state = this.NOTLANDED;
                    this.playForward = true;
                    this.currentFrameNo = 0;
                    this.resetCounter = 0;
                    this.findLandingTime();
                }
                break;
        }
    }
};

//******End of Greenbug object code******

//******Define this levels monster object and its behaviour******

var slimeball =
{
    //image source, position and pixel details
    IMAGE: "spritesheet2.png", SPRITE_WIDTH: 48, SPRITE_HEIGHT: 48, COLUMN_NO: 3,
    ORIGIN_X: 0, ORIGIN_Y: 0,
    //frame setting and details
    totalFrameNo: 5, currentFrameNo: 0,
    playForward: true,
    playBack: false,
    //game state defined and set
    NOTLANDED: 0, LANDED: 1, HIT: 2, state: this.NOTLANDED,
    resetCount: 12, resetCounter: 0,
    landingTime: undefined,

    findLandingTime: function()
    {
        this.landingTime = Math.floor(Math.random() * 100);
    },

    runAnimation1: function()
    {
        //divides the spritesheet image up to select the appropriate frame per state
        this.ORIGIN_X = Math.floor(this.currentFrameNo % this.COLUMN_NO) * this.SPRITE_WIDTH;
        this.ORIGIN_Y = Math.floor(this.currentFrameNo / this.COLUMN_NO) * this.SPRITE_HEIGHT;
        //below if statements used to discover the monsters current state
        if(this.state !== this.HIT)
        {
            if(this.landingTime === undefined || this.landingTime > 0)
            {
                this.state = this.NOTLANDED;
            }
            else
            {
                this.state = this.LANDED;
            }
        }
        //the below changes the animation as per current state
        switch(this.state)
        {
            //defines notlanded state
            case this.NOTLANDED:
                this.currentFrameNo = 0;
                this.landingTime--;
                break;
            //controls animation for landed state
            case this.LANDED:
                //if last frame is reached the playforward variable is set
                //to false so the animation can start again
                if(this.currentFrameNo === this.totalFrameNo)
                {
                    this.playForward = false;
                }
                //if the first frame is playforward is true and the animation can start again
                if(this.playForward === false && this.currentFrameNo === 0)
                {
                    this.playForward = true;
                    this.findLandingTime();
                    this.state = this.NOTLANDED;
                    break;
                }
                //instruction to change up a frame if playforward is true
                //change down when false
                if(this.playForward)
                {
                    this.currentFrameNo++;
                }
                else
                {
                    this.currentFrameNo--;
                }
                break;
            //defines hit
            case this.HIT:
                //assigns frame to hit state
                this.currentFrameNo = 6;
                //update the reset counter by one
                this.resetCounter++;
                //reset the animation when restcounter is the same value as resetcount
                if(this.resetCount === this.resetCounter)
                {
                    this.state = this.NOTLANDED;
                    this.playForward = true;
                    this.currentFrameNo = 0;
                    this.resetCounter = 0;
                    this.findLandingTime();
                }
                break;
        }
    }
};

//******End of slimeball object code******


//******Game code******
//defines variables that will control the scoreboard
var timer = document.querySelector("#timer");
var scoreBoard = document.querySelector("#score");
var message = document.querySelector("#gamerMsg");
//sets initial clock value
var countdownClock = 60;
//associates tick with the countdown clock
var tick = countdownClock;
//displays clock using tier variable defined above
var display_tick = (function () {
    timer.innerHTML = "<p>Time left: " + tick + "</p>";
});
var remove_tick = (function() {
    timer.innerHTML = "<p>Time left: 0</p>";
})
//sets the interval the for countdown
var countdownTimer = setInterval( function() {
    display_tick();
    tick--;
    if(tick < -1) {
        remove_tick();
        endGame();
    }
}, 1500);
//defines stop clock
var stop = (function () {
    clearInterval(countdownTimer.interval);
});
//defines arrays needed to load canvas and audio
var greenbugSwarm = [];
var greenbugCanvases = [];
var greenbugAnimationAreas = [];
var slimeballSwarm = [];
var slimeballCanvases = [];
var slimeballAnimationAreas = [];
var musicLib = [];

var image = new Image();
var image1 = new Image();
//adds the load event listener so application will load images when page is refreshed or loaded
image.addEventListener("load", loadHandler, false);
image1.addEventListener("load", loadHandler, false);
//image source defined
image.src = "<%= asset_path('spritesheet1.png') %>";
image1.src = "<%= asset_path('spritesheet2.png') %>";
//set universal sound level
//var gameVolume = 0.6;
var crowd = document.querySelector("#gamemusic");
crowd.addEventListener("canplaythrough", loadHandler, false);
crowd.load();
crowd.volume = 0.6;
musicLib.push(crowd);
var ufonoise = document.querySelector("#gamemusic1");
ufonoise.addEventListener("canplaythrough", loadHandler, false);
ufonoise.load();
ufonoise.volume = 0.6;
musicLib.push(ufonoise);
var boom = document.querySelector("#boom");
boom.addEventListener("canplaythrough", loadHandler, false);
boom.load();
musicLib.push(boom);
var slap = document.querySelector("#slap");
slap.addEventListener("canplaythrough", loadHandler, false);
slap.load();
musicLib.push(slap);
var siren = document.querySelector("#gamemusic2");
siren.addEventListener("canplaythrough", loadHandler, false);
siren.load();
siren.volume = 0.6;
musicLib.push(crowd);
var gamelost = document.querySelector("#gamelost");
gamelost.load();
musicLib.push(gamelost);
var landingPoints = 4;
var musicLoaded = 0;



//sets initial score, hit count, and levels target
var score = 0;
var monstersHit = 0;
var levelTarget = 25;
//game meeages to 3d stage
var container = document.querySelector("#container");
var winner = Sprite3D.create("#winner").position(-115,-20,180).rotation(0,0,0).update();
var loser = Sprite3D.create("#loser").position(-130,-20,180).rotation(0,0,0).update();
var ufo = Sprite3D.create("#ufo").position(-100,-200,90).rotation(0,0,0).update();
var ufo1 = Sprite3D.create("#ufo1").position(100,-180,120).rotation(0,0,0).update();
var ufoboom = Sprite3D.create("#ufoboom").position(-120,-200,120).rotation(0,0,0).update();
var ufoboom1 = Sprite3D.create("#ufoboom1").position(50,-180,150).rotation(0,0,0).update();

var interval;

var nextLevel = document.getElementById("nextLevel");

function loadHandler()
{
    crowd.removeEventListener("canplaythrough", loadHandler, false);
    crowd.addEventListener("ended", function() {
        this.tick = 0;
        this.play();
    }, false);
    crowd.play();


    ufonoise.removeEventListener("canplaythrough", loadHandler, false);
    ufonoise.addEventListener("ended", function() {
        this.tick = 0;
        this.play();
    }, false);
    ufonoise.play();

    siren.removeEventListener("canplaythrough", loadHandler, false);
    siren.addEventListener("ended", function() {
        this.tick = 0;
        this.play();
    }, false);
    siren.play();

    boom.removeEventListener("canplaythrough", loadHandler, false);
    slap.removeEventListener("canplaythrough", loadHandler, false);

    container.appendChild(ufo);
    container.appendChild(ufo1);


    var ufoInterval = setInterval(function(){
        ufo.css("Transition", "all " + (1.2+Math.random()*1.2)+"s linear", true )
                .rotation( Math.random()*-11+5, Math.random()*-11-5, Math.random()*9-7 )
                .z( Math.random() * 30 - 25 )
                .update();
    },5000);

    var ufo1Interval = setInterval(function(){
        ufo1.css("Transition", "all " + (1.2+Math.random()*1.2)+"s linear", true )
                .rotation( Math.random()*-10+5, Math.random()*-10-5, Math.random()*8-6 )
                .z( Math.random() * 40 - 35 )
                .update();
    },5000);

    image.removeEventListener("load", loadHandler, false);
    image1.removeEventListener("load", loadHandler, false);
    loadgreenbug("monster1");
    loadgreenbug("monster2");
    loadgreenbug("monster3");
    loadgreenbug("monster4");
    loadslimeball("slimeball1");
    loadslimeball("slimeball2");

    //calls the run animation function
    runAnimation();
    runAnimation1()

    message.innerHTML = "<p>Destroy " + levelTarget + " monsters!!</p>";
}

function loadgreenbug(id) {

    //creates a new greenbug based on the definition above
    var newBug = Object.create(greenbug);
    newBug.findLandingTime();
    greenbugSwarm.push(newBug);
    var canvasInsert = document.createElement('canvas');
    canvasInsert.setAttribute("class", "bug");
    //sets height and width attributes
    canvasInsert.height = 32;
    canvasInsert.width = 32;
    canvasInsert.addEventListener("mousedown", mousedownHandler, false);
    greenbugCanvases.push(canvasInsert);
    //defines animation area and context as 2D
    var animationArea = canvasInsert.getContext("2d");
    //adds this instance of an animationArea to the pandaAnimationAreas array
    greenbugAnimationAreas.push(animationArea);
    //defines insert panda and looks for assigned element by id
    insertGreenbug = document.getElementById(id);
    //appends the canvas created above to the id assigned in the loadhandler above
    insertGreenbug.appendChild(canvasInsert);
}

function loadslimeball(id) {

    //creates a new slimeball based on the definition above
    var newSlime = Object.create(slimeball);
    newSlime.findLandingTime();
    slimeballSwarm.push(newSlime);
    var canvasInsert1 = document.createElement('canvas');
    canvasInsert1.setAttribute("class", "bug");
    //sets height and width attributes
    canvasInsert1.height = 48;
    canvasInsert1.width = 48;
    canvasInsert1.addEventListener("mousedown", mousedownHandler1, false);
    slimeballCanvases.push(canvasInsert1);
    //defines animation area and context as 2D
    var animationArea1 = canvasInsert1.getContext("2d");
    //adds this instance of an animationArea to the pandaAnimationAreas array
    slimeballAnimationAreas.push(animationArea1);
    //defines insert panda and looks for assigned element by id
    insertslimeball = document.getElementById(id);
    //appends the canvas created above to the id assigned in the loadhandler above
    insertslimeball.appendChild(canvasInsert1);
}


function runAnimation()
{
    //checks that clock is running and more than zero
    if(tick > -1)
    {
        setTimeout(runAnimation, 110);
    }
    else
    {
        endGame();
    }
    //when there are greenbug objects in array run animation
    for(var i = 0; i <greenbugSwarm.length; i++)
    {
        greenbugSwarm[i].runAnimation();
    }
    render();
}

function runAnimation1()
{
    //checks that clock is running and more than zero
    if(tick > -1)
    {
        setTimeout(runAnimation1, 110);
    }
    else
    {
        endGame();
    }
    //when there are greenbug objects in array run animation
    for(var i = 0; i <slimeballSwarm.length; i++)
    {
        slimeballSwarm[i].runAnimation1();
    }
    render1();
}

function mousedownHandler(event)
{
    var confirmTarget = event.target;

    for(var i = 0; i < greenbugCanvases.length; i++)
    {
        if(greenbugCanvases[i] ===confirmTarget)
        {
            var greenbug = greenbugSwarm[i]
            if(greenbug.state === greenbug.LANDED)
            {
                greenbug.state = greenbug.HIT;
                message.innerHTML = "<p>BOOM! Hit!</p>";
                //add 100 to score
                score+= 100;
                //tracks bugs hit to compare to levelTarget
                monstersHit++;
                //add sound
                boom.currentTime = 0;
                boom.play();
                boom.volume = 0.6;

            }
            else
            {
                message.innerHTML = "<p>MISSED! Lose 40pts!</p>";
                score-= 40;
            }
        }
    }
}

function mousedownHandler1(event)
{
    var confirmTarget = event.target;

    for(var i = 0; i < slimeballCanvases.length; i++)
    {
        if(slimeballCanvases[i] ===confirmTarget)
        {
            var slimeball = slimeballSwarm[i]
            if(slimeball.state === slimeball.LANDED)
            {
                slimeball.state = slimeball.HIT;
                message.innerHTML = "<p>BOOM! Hit!</p>";
                //add 80 to score
                score+= 80;
                //tracks bugs hit to compare to levelTarget
                monstersHit++;
                //add sound
                slap.currentTime = 0;
                slap.play();
                slap.volume = 0.6;


            }
            else
            {
                message.innerHTML = "<p>MISSED! Lose 20pts</p>";
                score-= 20;
            }
        }
    }
}

function addScore ()
{
    var txt = $("#output_level").text();
    var text = $("#output").text();
    $("#input_level").val(txt);
    $("#input_score").val(text);
}

function endGame ()
{
    stop();
    //if clock is less than 0 set gamemusic volume to 0
    if(tick < -1) {
        crowd.volume = 0;
        ufonoise.volume = 0;
        siren.volume = 0;
    }

    if(monstersHit > levelTarget) {
        var bonus = (monstersHit - levelTarget) * 120;
        score+= bonus;
        nextLevel.style.visibility="visible";
        message.innerHTML = "<p>Level Complete</p>";
        container.appendChild(winner);
        container.appendChild(ufoboom);
        container.appendChild(ufoboom1);
    }

    else {
        message.innerHTML = "<p>Game Over! Try again</p>";
        gamelost.removeEventListener("canplaythrough", loadHandler, false);
        gamelost.play();
        gamelost.volume = 0.6;
        container.appendChild(loser);

    }

    for(var i = 0; i < greenbugCanvases.length; i++)
    {
        var canvasInsert = greenbugCanvases[i];
        canvasInsert.removeEventListener("mousedown", mousedownHandler, false);
    }

    for(var i = 0; i < slimeballCanvases.length; i++)
    {
        var canvasInsert1 = slimeballCanvases[i];
        canvasInsert1.removeEventListener("mousedown", mousedownHandler1, false);
    }
    addScore();
}

function render()
{
    scoreBoard.innerHTML = "<p>Score: <span id='output'>" + score + "</span></p>";
    for(var i = 0; i < greenbugSwarm.length; i++)
    {
        var greenbug = greenbugSwarm[i];
        var animationArea = greenbugAnimationAreas[i];
        animationArea.clearRect(0, 0, greenbug.SPRITE_WIDTH, greenbug.SPRITE_HEIGHT);

        animationArea.drawImage
                (
                        image,
                        greenbug.ORIGIN_X, greenbug.ORIGIN_Y, greenbug.SPRITE_WIDTH, greenbug.SPRITE_HEIGHT,
                        0, 0, greenbug.SPRITE_WIDTH, greenbug.SPRITE_HEIGHT
                );
    }
}

function render1 () {
    for(var x = 0; x < slimeballSwarm.length; x++)
    {
        var slimeball = slimeballSwarm[x];
        var animationArea1 = slimeballAnimationAreas[x];
        animationArea1.clearRect(0, 0, slimeball.SPRITE_WIDTH, slimeball.SPRITE_HEIGHT);

        animationArea1.drawImage
                (
                        image1,
                        slimeball.ORIGIN_X, slimeball.ORIGIN_Y, slimeball.SPRITE_WIDTH, slimeball.SPRITE_HEIGHT,
                        0, 0, slimeball.SPRITE_WIDTH, slimeball.SPRITE_HEIGHT
                );
    }
}

function errorHandler()
{
    if(render() === false)
    {
        alert("We're sorry Monster vs Hurlers is currently closed for maintenance please callback");
    }
}

