<% content_for :head do %>
    <title>Hurlers vs Monsters: New Post</title>
    <%= stylesheet_link_tag "posts", :media => "all" %>
<% end %>
<% content_for :article do %>
<article id="upper_stage">
  <div id="upper_col1" class="post">
    <div id="postscroll">
    <h2><span class="head2">New post</span></h2>

<%= render 'form' %>
    </div>
   </div>
   <div id="upper_col2">
     <article id="sitepromo">
   <h2><span class="head2">Tips</span></h2>
       <br>
     <p>I'd like this site to be a colloboration of people passionate about Technology. We'd like posts
     to be of high quality so Hurlers vs Monster can become a resource people can enjoy and trust.</p>
     <p>With this in mind below are some tips to help you write quality posts.</p>
     <ol>
       <li>Stay on topic</li>
       <li>Be informative</li>
       <li>Old news isn't news</li>
       <li>Keep the writing clear and simple</li>
       <li>Spell check and proof read</li>
     </ol>
     </article>
   </div>
</article>
<% end %>



