<% content_for :head do %>
    <title>Hurlers vs Monsters: New Post</title>
    <%= stylesheet_link_tag "posts", :media => "all" %>
<% end %>
<% content_for :article do %>
<article id="upper_stage">
  <div id="upper_col1" class="post">
    <h2><span class="head2">New post</span></h2>

<%= render 'form' %>

   </div>
   <div id="upper_col2">
   <p><span class="post_header">--Advertising can go in this section--</span></p>
   </div>
</article>
<% end %>



