body {
    font-family: verdana, helvetica;
    font-size: 100%;
    color: black;
}

nav {
    position: static;
    background-color: #00B945;
    font-size: 70%;
    color: white;
    padding: 1% 1% 1% 1%;
}

#pagetitle {
    background: white;
    padding: 5% 5% 5% 5%;
    text-align: center;
    height: 20%;
    width: 100%;
    background-image: url(Titlepic.jpg);
    background-repeat: no-repeat;
}

img {
    float: left;
}
#header {
    position: relative;
    text-align: right;
    height: 150px;
    width: 800px;
    font: 10px "Courier", serif;
    font-weight: bold;
    float: right;
}

#notice {
    color: #000 !important;
    border: 2px solid red;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #f0f0f0;
    font: bold smaller sans-serif;
}

#breadcrumbs {
    background: #141;
    color: #000000;
}

#main {
    margin-left: 17em;
    padding: 1em;
    background: #ffffff;
}

#side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #141;
    color: white;
}

ul {
    padding: 0;
}
li {
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: 200;
}

footer {
    position: static;
    background-color: #00B945;
    font-size: 50%;
    color: white;
    padding: 1% 1% 1% 1%;
}

article .post_even .post_odd{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    /* below ensures correct output for MFF*/
    -moz-border-top-left-radius: 2px;
    -moz-border-top-right-radius: 2px;
    -moz-border-bottom-left-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
    /* below is for safari */
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;

}

.post_odd {
    background-color: #fdfffd;
}
.post_even {
    background-color: #6fe984;
}



