/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* this css file serves as a general layout for all pages */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* This file is the template style for the whole application  */

body {
  font-size: 100%;
  color: white;
  background-color: white;
  font-family: verdana;
}

nav {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0%;
  margin: 0% 0% 7% 0%;
  padding: 1% 1% 1% 1%;
  width: 100%;
  background-color: white;
  color: #B20000;
}

nav header {
  text-align: left;
}

nav ul {
  text-align: right;
  font: 90%;
  text-shadow: 1px 1px 1px #000;
  padding-right: 2%;
}

nav ul li {
  display: inline;
  list-style-type: none;
  text-shadow: 1px 1px 1px #000;
}

#upper_stage {
  position: relative;
  margin: 6% 4% 5% 4%;
  color: #B20000;
}


#upper_col1 {
  position:relative;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index:10;
  background-color: #ff251e;
  border: #fdfffd;
  border-style: solid;
  border-top-left-radius: 5% 20%;
  border-top-right-radius: 5% 20%;
  border-bottom-left-radius: 5% 20%;
  border-bottom-right-radius: 5% 20%;
  /* below ensures correct output for MFF*/
  -moz-border-top-left-radius: 5% 20%;
  -moz-border-top-right-radius: 5% 20%;
  -moz-border-bottom-left-radius: 5% 20%;
  -moz-border-bottom-right-radius: 5% 20%;
}

#upper_col2 {
  position:absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 50%;
  z-index:10;
  background-color: #ff251e;
  color: #000000;
  border: #fdfffd;
  border-style: solid;
  border-top-left-radius: 5% 20%;
  border-top-right-radius: 5% 20%;
  border-bottom-left-radius: 5% 20%;
  border-bottom-right-radius: 5% 20%;
  /* below ensures correct output for MFF*/
  -moz-border-top-left-radius: 5% 20%;
  -moz-border-top-right-radius: 5% 20%;
  -moz-border-bottom-left-radius: 5% 20%;
  -moz-border-bottom-right-radius: 5% 20%;
}

#notice {
  font-size: x-small;
  text-align: right;
  color: #000;
  margin: 1% 4% 1% 0%;
  z-index: 20;
}

#mid_bar {
  position: relative;
  height: 25px;
  width: 100%;
  background-color: #120000;
}

section {
  position: relative;
  /*margin: 2% 5% 5% 5%;*/
  padding:0;
  overflow: hidden;
  background-image: -moz-linear-gradient(bottom, #A10F0F 44%, #423030 100%);
}

#content {
  position: relative;
  height: 220px;
  margin: 4% 6% 5% 11%;
  padding:0;
  overflow: hidden;
}

section > header h2 {
  font-size:                110%;
  font-weight:              700;
}

#content_left {
  position:                 absolute;
  top:                      0%;
  right:                    67%;
  bottom:                   0%;
  left:                     0%;
  height:                   180px;
  width:                    240px;
  z-index:                  10;
  background-color:         green;
}

#content_centre {
  position:                 absolute;
  top:                      0%;
  right:                    33%;
  bottom:                   0%;
  left:                     33%;
  height:                   180px;
  width:                    240px;
  z-index:                   5;
  background-color:         orange;
  overflow:                 hidden;
}

#content_right {
  position:                 absolute;
  top:                      0%;
  right:                    0%;
  bottom:                   0%;
  left:                     67%;
  height:                   180px;
  width:                    240px;
  z-index:                  5;
  background-color:         blue;
}

.blog_desc {
  position:                 relative;
  display:                  none;
}

.homeh4 {
  font-weight:              700;
  text-decoration:          none;
}

footer {
  font-size: 60%;
  text-align: center;
  background-color: #B20000;
}