/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* this css file serves as a general layout for all pages */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* This file is the template style for the whole application  */

body {
  font-size:                                  100%;
  color:                                      white;
  background-color:                           white;
  font-family:                                verdana;
  overflow-y:                                 scroll;
  overflow-x:                                 hidden;
}

/*removes blue border from linked images in IE*/
a img {border: none;}

.button {
  background-color:                           white;
  color:                                      #b20000;
  font-family:                                'Racing Sans One', sans-serif;
  font-weight:                                300;
  font-size:                                  100%;
  border:                                     black;
  padding:                                    1% 1% 1% 1%;
  box-shadow:                                 0px 3px 3px 0px #000;
}

.button:active {
  box-shadow:                                 0px 1px 1px 0px #000;
}

.textarea {
  margin-top:                                 30%;
}


header#pagetop {
  position:                                   absolute;
  top:                                        0%;
  right:                                      0%;
  left:                                       0%;
  width:                                      100%;
  height:                                     auto;
  min-height:                                 75px;
}

nav#logo {
  float:                                      left;
  top:                                        0%;
  right:                                      0%;
  left:                                       0%;
  width:                                      30%;
  margin-top:                                 1%;
  background-color:                           white;
}

nav#navbox {
  float:                                      right;
  width:                                      auto;
  height:                                     auto;
  right:                                      0%;
  width:                                      70%;
  max-height:                                 75px;
  margin-top:                                 1.25%;
  text-align:                                 right;
}

nav#navbox li {
  background:                                 #B20000;
  width:                                      auto;
  min-width:                                  40px;
  display:                                    inline-block;
  font:                                       90%;
  color:                                      white;
  text-shadow:                                1px 1px 1px #000;
  margin:                                     0px 0.25px 0px 0px;
  padding:                                    0.5%;
  border-top-left-radius:                     1% 2%;
  border-top-right-radius:                    1% 2%;
  border-bottom-left-radius:                  1% 2%;
  border-bottom-right-radius:                 1% 2%;
  /* below ensures correct output for MFF*/
  -moz-border-top-left-radius:                1% 2%;
  -moz-border-top-right-radius:               1% 2%;
  -moz-border-bottom-left-radius:             1% 2%;
  -moz-border-bottom-right-radius:            1% 2%;
}

nav#navbox li#welcome {
  background:                                 white;
  color:                                      #b20000;
  text-shadow:                                1px 1px 1px #000;
}

#navbox a, a:link, a:visited {
  text-decoration:                            none;
  color:                                      white;
}

#navbox li a:hover {
  text-shadow:                                1px 1px 1px #fff;
}

#navbox li a:active {
  background:                                 #fff8ed;
  color:                                      #b20000;
  text-shadow:                                1px 1px 1px #fff;
}

#welcome a, a:link, a:visited {
  text-decoration:                            none;
  color:                                      #b20000;
  font-weight:                                600;
  text-shadow:                                1px 1px 1px 1px #000;
}


#upper_stage {
  position:                                   relative;
  margin:                                     6% 1% 5% 2%;
  color:                                      #B20000;
}

.post {
  font-family:                              'Racing Sans One', sans-serif;
}

#file_upload {
 background-color:                            white;
}

.admin_view {
  position:                                   relative;
  top:                                        0%;
  right:                                      0%;
  bottom:                                     0%;
  left:                                       0%;
  margin-left:                                1.5%;
  z-index:                                    10;
  width:                                      100%;
  height:                                     auto;
  min-height:                                 200px;
  padding:                                    2%;
  background-color:                           #ff251e;
  border:                                     #fdfffd;
  border-style:                               solid;
  border-top-left-radius:                     5% 20%;
  border-top-right-radius:                    5% 20%;
  border-bottom-left-radius:                  5% 20%;
  border-bottom-right-radius:                 5% 20%;
  /* below ensures correct output for MFF*/
  -moz-border-top-left-radius:                5% 20%;
  -moz-border-top-right-radius:               5% 20%;
  -moz-border-bottom-left-radius:             5% 20%;
  -moz-border-bottom-right-radius:            5% 20%;
  box-shadow:                                 2px 2px 2px 0px #000;
  overflow-y:                                   hidden;
  overflow-x:                                   hidden;
}


.admin_view table {
  color:                                      white;
  padding:                                    3%;
  width:                                      90%;
}

.admin_view table th {
  font-family:                                'Racing Sans One', sans-serif;
  text-align:                                 left;
  padding-right:                               1%;
  padding-bottom:                              0.5%;
  padding-left:                                1%;
}

.admin_view table td {
  padding-right:                               1%;
  padding-bottom:                              0.5%;
  padding-left:                                1%;
}

.admin_view a:visited {
  color:                                      white;
}

#admin_scroll {
  padding:                                      2%;
  width:                                        90%;
  height:                                       100%;
  max-height:                                   auto;
  overflow-y:                                   scroll;
  overflow-x:                                   hidden;
}

.userscroll {
  padding:                                      2%;
  width:                                        90%;
  height:                                       100%;
  max-height:                                   auto;
  overflow-y:                                   scroll;
  overflow-x:                                   hidden;
}


#upper_col1 {
  position:                                   relative;
  top:                                        0%;
  right:                                      0%;
  bottom:                                     0%;
  left:                                       0%;
  z-index:                                    10;
  background-color:                           #ff251e;
  border:                                     #fdfffd;
  border-style:                               solid;
  border-top-left-radius:                     5% 20%;
  border-top-right-radius:                    5% 20%;
  border-bottom-left-radius:                  5% 20%;
  border-bottom-right-radius:                 5% 20%;
  /* below ensures correct output for MFF*/
  -moz-border-top-left-radius:                5% 20%;
  -moz-border-top-right-radius:               5% 20%;
  -moz-border-bottom-left-radius:             5% 20%;
  -moz-border-bottom-right-radius:            5% 20%;
  box-shadow:                                 2px 2px 2px 0px #000;
}


.head2 {
  font-family:                              'Racing Sans One', sans-serif;
  font-size:                                200%;
  color:                                    white;
  text-shadow:                              2px 2px 2px #000;
  border-top:                               solid 3px #fff;
  border-bottom:                            solid 3px #fff;
}

.head3 {
  font-family:                              'Racing Sans One' sans-serif;
  font-size:                                130%;
  color:                                    #b20000;
  text-shadow:                              2px 2px 2px #000;
  border-top:                               solid 3px #fff;
  border-bottom:                            solid 3px #fff;
}

#upper_col2 {
  position:                                   absolute;
  top:                                        0%;
  right:                                      0%;
  bottom:                                     0%;
  left:                                       50%;
  z-index:                                    10;
  background-color:                           #ff251e;
  color:                                      #000000;
  border:                                     #fdfffd;
  border-style:                               solid;
  border-top-left-radius:                     5% 20%;
  border-top-right-radius:                    5% 20%;
  border-bottom-left-radius:                  5% 20%;
  border-bottom-right-radius:                 5% 20%;
  /* below ensures correct output for MFF*/
  -moz-border-top-left-radius:                5% 20%;
  -moz-border-top-right-radius:               5% 20%;
  -moz-border-bottom-left-radius:             5% 20%;
  -moz-border-bottom-right-radius:            5% 20%;
  box-shadow:                                 2px 2px 2px 0px #000;
}

#notice {
  font-size:                                  80%;
  text-align:                                 center;
  color:                                      #ffffff;
  margin:                                     auto;
  z-index:                                    20;
}

#twitfeed {
 background:                                  #f5f5f5;
  padding:                                    2.5%;
  border:                                     #b20000 1px solid;
  border-top-left-radius:                     5% 20%;
  border-top-right-radius:                    5% 20%;
  border-bottom-left-radius:                  5% 20%;
  border-bottom-right-radius:                 5% 20%;
  /* below ensures correct output for MFF*/
  -moz-border-top-left-radius:                5% 20%;
  -moz-border-top-right-radius:               5% 20%;
  -moz-border-bottom-left-radius:             5% 20%;
  -moz-border-bottom-right-radius:            5% 20%;
  /* below is for safari */
  -webkit-border-top-left-radius:             5%;
  -webkit-border-top-right-radius:            5%;
  -webkit-border-bottom-left-radius:          5%;
  -webkit-border-bottom-right-radius:         5%;
}

#twitfeed h3 {
  font-family:                              'Racing Sans One' sans-serif;
  font-size:                                120%;
  color:                                    white;
  text-shadow:                              2px 2px 2px #000;
  border-top:                               solid 3px #fff;
  border-bottom:                            solid 3px #fff;
}

#twitfeed a, a:link, a:visited {
  color:                                    #b20000;
}

#twitter_update_list {
  margin:                                   1%;
}

#twitter_update_list li {
  background-color:                           #f5f5f5;
  display:                                    block;
  text-decoration:                            none;
  color:                                      #b20000;
  font-size:                                  70%;
  margin-bottom:                              1%;
}

#sitepromo {
  font-family:                              'Racing Sans One', sans-serif;
  color:                                    white;
  padding:                                  0 3% 3% 3%;
}

#sitepromo p {
  font-size:                                100%;
}

#sitepromo ol li {
  list-style-type:                          upper-alpha;
}


#mid_bar {
  position:                                   relative;
  height:                                     25px;
  width:                                      100%;
  background-color:                           #120000;
}

section {
  position:                                   relative;
  padding:                                    0;
  overflow:                                   hidden;
  background-image:                           -moz-linear-gradient(bottom, #A10F0F 44%, #423030 100%);
  background-image:                           -webkit-linear-gradient(bottom, #A10F0F 44%, #423030 100%);
}

#content {
  position:                                   relative;
  height:                                     220px;
  margin:                                     4% 4% 5% 10%;
  padding:                                    0;
  overflow:                                   hidden;
}

#content_admin {
  position:                                   relative;
  height:                                     220px;
  margin:                                     4% 4% 5% 10%;
  padding:                                    0;
  overflow:                                   hidden;
}

section > header h3 {
  font-size:                                  200%;
  font-weight:                                700;
  font-family:                                'Racing Sans One', sans-serif;
  text-align:                                 center;
  margin-left:                                5%;
}

.lower_box {
  height:                                     180px;
  width:                                      240px;
  z-index:                                    10;
  background-color:                           white;
  box-shadow:                                 0px 5px 5px 0px #000;
  overflow:                                   hidden;
  font-family:                                'Racing Sans One', sans-serif;
}

.lower_box:hover {
  box-shadow:                                 0px 2px 2px 0px #000;
}

#content_left {
  position:                                   absolute;
  top:                                        0%;
  right:                                      75%;
  bottom:                                     0%;
  left:                                       0%;
}

#content_left_centre {
  position:                                   absolute;
  top:                                        0%;
  right:                                      50%;
  bottom:                                     0%;
  left:                                       25%;
}

#content_right_centre {
  position:                                   absolute;
  top:                                        0%;
  right:                                      25%;
  bottom:                                     0%;
  left:                                       50%;
}

#content_right {
  position:                                   absolute;
  top:                                        0%;
  right:                                      0%;
  bottom:                                     0%;
  left:                                       75%;
}

#content_admin_left {
  position:                                   absolute;
  top:                                        0%;
  right:                                      75%;
  bottom:                                     0%;
  left:                                       0%;
}

#content_admin_left_centre {
  position:                                   absolute;
  top:                                        0%;
  right:                                      50%;
  bottom:                                     0%;
  left:                                       25%;
}

#content_admin_right_centre {
  position:                                   absolute;
  top:                                        0%;
  right:                                      25%;
  bottom:                                     0%;
  left:                                       50%;
}



#content_admin_right {
  position:                                   absolute;
  top:                                        0%;
  right:                                      0%;
  bottom:                                     0%;
  left:                                       75%;
}


.content_box {
  margin-top:                                 -180px;
  height:                                     360px;
}

.blog_desc {
  position:                                   relative;
  color:                                      #b20000;
  height:                                     180px;
  padding:                                    1% 2% 1% 2%;
  font-size:                                  110%;
}

.blog_desc h3 {
  font-size:                                  120%;
  text-align:                                 center;
}

.homeh4 {
  position:                                   relative;
  text-decoration:                            none;
  text-align:                                 center;
  padding-top:                                10%;
  height:                                     180px;
}


footer {
  font-size:                                  60%;
  text-align:                                 right;
  background-color:                           #B20000;
}