// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("application.css.scss");

#upper_stage {
  background-color: white;
  height: 300px;
}


#pitch {
  width:					600px;
  height:					300px;
  background:				transparent url(game_background.png) no-repeat top left;
  z-index: 				5;
}

#backdrop {
  width:					185px;
  height: 				    150px;
  background: 			    transparent url(crowd_scene_back.jpg) no-repeat top left;
  z-index: 				    5;
}

#sidedrop_right {
  width: 					195px;
  height:					150px;
  background: 			    transparent url(crowd_scene_back.jpg);
  background-repeat: 		no-repeat;
  z-index: 				    5;
}

#sidedrop_left {
  width: 					195px;
  height:					150px;
  background: 		    	transparent url(crowd_scene_back.jpg);
  background-repeat: 		no-repeat;
  z-index: 				    5;
}

#roof {
  width:					540px;
  height: 				    80px;
  background: 			    transparent url(Title.jpg) no-repeat top left;
  background-repeat: 		no-repeat;
  z-index: 				    10;
}

#monster1 {
  width:					32px;
  height:					32px;
  z-index: 				    10;
}

#monster2 {
  width:					32px;
  height:					32px;
  z-index: 				    5;
}

#monster3 {
  width:					32px;
  height:					32px;
  z-index: 				    5;
}

#monster4 {
  width:					32px;
  height:					32px;
  z-index: 				    5;
}

#score {
  width: 					80px;
  height: 			    	auto;
  top:					    1%;
  right: 					5%;
  bottom: 				    5%;
  left:					    78%;
  margin: 				    1% 1% 1% 1%;
  padding: 				    5% 5% 5% 5%;
  color: 					black;
  z-index: 				    20;
  text-align: 			    center;
  font-family: 			    'Share Tech Mono', sans-serif;
  font-size: 				small;
}

#score p {
  margin: 				    15% 1% 1% 1%;
  padding: 				    5% 5% 5% 5%;
  border-radius: 			2px 2px 2px 2px;
  color: 					white;
  font-weight: 		    	600;
  background-image:         -moz-linear-gradient(bottom, #A2000C 44%, #C0C0C0 100%);
}

#timer {
  width: 					110px;
  height: 			    	auto;
  top: 					    1%;
  right: 					90%;
  bottom: 				    5%;
  left:					    3%;
  margin: 				    1% 1% 1% 1%;
  padding: 				    5% 5% 5% 5%;
  color: 					black;
  z-index: 				    20;
  text-align: 			    center;
  font-family: 			    'Share Tech Mono', sans-serif;
  font-size: 				small;
}

#timer p {
  margin: 				    10% 1% 1% 1%;
  padding: 				    5% 5% 5% 5%;
  border-radius: 			2px 2px 2px 2px;
  color: 					white;
  font-weight: 			    600;
  background-image: 		-moz-linear-gradient(bottom, #A2000C 44%, #C0C0C0 100%);
}

#gamerMsg {
  width: 					175px;
  height: 				    auto;
  position: 				absolute;
  top: 				    	1%;
  right: 					30%;
  bottom: 				    5%;
  left:					    20%;
  margin: 				    1% 1% 1% 1%;
  padding: 				    5% 5% 5% 5%;
  color: 					black;
  z-index: 				    20;
  text-align: 			    center;
  font-family: 			    'Share Tech Mono', sans-serif;
  font-size: 				small;
}

#gamerMsg p {
  margin: 				    5% 1% 1% 1%;
  padding: 				    5% 5% 5% 5%;
  border-radius: 			2px 2px 2px 2px;
  color: 					white;
  font-weight: 			    600;
  background-image: 		-moz-linear-gradient(bottom, #A2000C 44%, #C0C0C0 100%);
}

#scoreboard {
  width: 					645px;
  height: 				    50px;
  background-color: 		red;
  background-image: 		-moz-linear-gradient(bottom, #000000 44%, #C0C0C0 100%);
}

#hurler {
  width:					77px;
  height:					120px;
  background:				transparent url(hurler.jpg)no-repeat top left;
  z-index: 				    10;
}



