// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("application.css.scss");
/* this css is for home page, however tags in the section id
will affect sign up, login, faq and forms */

#upper_stage {
  background-color: white;
  height: 250px;
}

#pitch {
  width: 600px;
  height:	300px;
  background:	transparent url(game_background3d.png) no-repeat top left;
  z-index: 10;
}

#backdrop {
  width: 600px;
  height: 200px;
  background: transparent url(crowd_scene.jpg) no-repeat top left;
  z-index: 5;
}

#roof {
  width: 600px;
  height: 85px;
  background: transparent url(Title1.png) no-repeat top left;
  background-repeat: no-repeat;
  z-index: 5;
}

#monsters {
  width: 82px;
  height:	101px;
  background:	transparent url(monster.png)no-repeat top left;
  z-index: 10;
}

#hurler {
  width: 77px;
  height:	120px;
  background:	transparent url(hurler.png)no-repeat top left;
  z-index: 10;
}

