// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("application.css.scss");

#upper_col1 {
  margin-left: 10%;
  height: 600px;
  width: 450px;
  max-height: auto;
}

.post_img_url {
  float: left;
  max-height: 160px;
  max-width: 400px;
  margin-left: 5%;
  padding-right: 3%;
}

#upper_col2 {
  height: 600px;
  width: 450px;
}

.post_header {
  color: white;
  font-weight: 700;
}

.post_text {
  color: white;
}

.post_warning {
  font-size: x-small;
  color: #ffffff;
}

.content_box textarea {
  height: 170px;
  width: 375px;
  overflow: scroll;
}

.response {
  color: #ff251e;
  display: block;
  background-color: whitesmoke;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  padding: 2% 2% 2% 2%;
  border-top-left-radius: 4% 4%;
  border-top-right-radius: 4% 4%;
  border-bottom-left-radius: 4% 4%;
  border-bottom-right-radius: 4% 4%;
  /* below ensures correct output for MFF*/
  -moz-border-top-left-radius: 4% 4%;
  -moz-border-top-right-radius: 4% 4%;
  -moz-border-bottom-left-radius: 4% 4%;
  -moz-border-bottom-right-radius: 4% 4%;
}

section > header h2 {
  font-size: 110%;
  font-weight: 700;
  margin-left: 11%;
}

#content_left {
  position:absolute;
  top: 0%;
  right: 67%;
  bottom: 0%;
  left: 0%;
  height: 180px;
  width: 240px;
  z-index:10;
  background-color: green;
}

#content_centre {
  position:absolute;
  top: 0%;
  right: 33%;
  bottom: 0%;
  left: 33%;
  height: 180px;
  width: 240px;
  z-index:10;
  background-color: orange;
}

#content_right {
  position:absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 67%;
  height: 180px;
  width: 240px;
  z-index:5;
  background-color: blue;
}

.blog_desc {
  position: relative;
  display: none;
}

.homeh4 {
  font-weight: 700;
}