// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("application.css.scss");
/* this css is for sign up, login, faq and forms */

#upper_col1 {
  font-family:                              'Racing Sans One', sans-serif;
  color:                                    white;
  height:                                   350px;
  width:                                    450px;
  padding:                                  2% 2% 2% 2%;
  margin:                                   0% 2% 2% 6%;
}


.login {
  font-family:                              'Racing Sans One', sans-serif;
}

#upper_col2 {
  font-family:                              'Racing Sans One', sans-serif;
  color:                                    white;
  height:                                   350px;
  width:                                    450px;
  padding:                                  2% 2% 2% 2%;
  margin:                                   0% 2% 2% 4%;
}

