// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("application.css.scss");
/* this css is for sign up, login, faq and forms */

#upper_col1 {
  color: white;
  height: 300px;
  width: 450px;
}

#upper_col2 {
  color: white;
  height: 300px;
  width: 450px;
}
/* below code is for placeholder images re 3rd party sign-in */

#upper_col1 h2 {
  font-size: 120%;
}

#upper_col2 p h2 h4 {
  text-align: center;
  color: white;
}

#upper_col2 img {
  text-align: center;
  margin-left: 15%;
}

section > header h2 {
  font-size: 110%;
  font-weight: 700;
  margin-left: 11%;
}

#content_left {
  position:absolute;
  top: 0%;
  right: 67%;
  bottom: 0%;
  left: 0%;
  height: 180px;
  width: 240px;
  z-index:10;
  background-color: green;
}

#content_centre {
  position:absolute;
  top: 0%;
  right: 33%;
  bottom: 0%;
  left: 33%;
  height: 180px;
  width: 240px;
  z-index:10;
  background-color: orange;
}

#content_right {
  position:absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 67%;
  height: 180px;
  width: 240px;
  z-index:5;
  background-color: blue;
}

.blog_desc {
  position: relative;
  display: none;
}

.homeh4 {
  font-weight: 700;
}