// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url("application.css.scss");
/* this css is for sign up, login, faq and forms */

#upper_col1 {
  color:                                      white;
  height:                                     450px;
  width:                                      450px;
  padding:                                    2% 2% 2% 2%;
  margin:                                     0% 2% 2% 5%;
}

#upper_col2 {
  color:                                      white;
  height:                                     450px;
  width:                                      450px;
  padding:                                    2% 2% 2% 2%;
  margin:                                     0% 2% 2% 4%;
}

.userscroll {
  padding:                                      2%;
  width:                                        90%;
  height:                                       100%;
  max-height:                                   auto;
  overflow-y:                                   scroll;
  overflow-x:                                   hidden;
}

.user_img_url {
  height:                                       50px;
  width:                                        50px;
}

.myposts {
  padding:                          2% 2% 2% 2%;
  margin:                           1% 5% 1% 5%;
  width:                            86%;
  min-height:                       130px;
  max-height:                       180px;
  background-color:                 #f5f5f5;
  color:                            #b20000;
  font-family:                      verdana;
  border:                           #fdfffd;
  border-style:                     solid;
  border-top-left-radius:           5% 20%;
  border-top-right-radius:          5% 20%;
  border-bottom-left-radius:        5% 20%;
  border-bottom-right-radius:       5% 20%;
  /* below ensures correct output for MFF*/
  -moz-border-top-left-radius:      5% 20%;
  -moz-border-top-right-radius:     5% 20%;
  -moz-border-bottom-left-radius:   5% 20%;
  -moz-border-bottom-right-radius:  5% 20%;
  /* below is for safari */
  -webkit-border-top-left-radius:   5%;
  -webkit-border-top-right-radius:  5%;
  -webkit-border-bottom-left-radius: 5%;
  -webkit-border-bottom-right-radius: 5%;
}


.mypost_img_url {
  float:                            left;
  max-height:                       80px;
  max-width:                        200px;
  padding:                          1% 1% 1% 1%;
}

.mypost_detail {
  font-size:                        x-small;
}

